
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

a:hover {
  font-style: italic;
  cursor: pointer;
}

a:active {
  color: #606060;
}

.nav-title {
  font-weight: 400;
  font-size: 16px;
}

.nav-title a {
  text-decoration: none;
}

.nav-title a:hover {
  font-style: normal;
}

a .external-link-svg {
  stroke: black;
}

a:active .external-link-svg {
  stroke: #606060;
}

.button-text {
  font-size: 14px;
  font-weight: 400;
}

.image-caption {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.image-caption-center {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.main-title {
  font-size: 30px;
  font-weight: 400;
}

.subheader-text {
  font-size: 18px;
  font-weight: 500;
}

.body-text {
  font-size: 15px;
  font-weight: 400;
}

.body-text b {
  font-weight: 700;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.project-title u {
  text-decoration-thickness: 2px;
}