@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;700;900&display=swap');

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans Mono', monospace;
    margin: 0;
}

section {
    /* height: 500px; */
    background-color: burlywood;
}

.header {
    height: 100vh;
    background-color: white;
    color: black;
    font-size: 30px;
    font-family: 'Noto Sans Mono', monospace;
}

.subheading {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.typed h2 {
    font-weight: 400;
    overflow: hidden;
    border-right: 3px solid black;
    white-space: nowrap;
    animation:
        typing 2.3s steps(50, end) forwards,
        blink .6s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

nav {
    display: flex;
    justify-content: space-between;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
}

.navbar ul li a {
    transition: all 0.2s ease;
}

.navbar ul li a:hover{
    color: gray;
}

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 600;
}

ul {
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-around;
    font-size: 15px;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.header-area {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
}

.header-text {
    margin-left: 60px;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    border: 3px solid black;
    background-color: white;
    text-align: center;
    line-height: 50px;
    /* padding: 1px 0; */
    font-size: 25px;
    transition: all 0.2s ease;
}

.button:hover, .button:active {
    background-color: black;
    color: white;
}

.button a:hover {
    color:white;
}

.subsection {
    display: flex;
    /* justify-content: space-around; */
    padding: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

footer {
    height: 200px;
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-left: 50px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 40px;
}

.icon {
    transition: all 0.2s ease;
    fill: white;
    width: 24px;
    height: 24px;
}

.icon:hover {
    fill: gray;
}

@media only screen and (max-width: 100px) {
    
}